<!-- templates/registration/login.html -->

{% extends "login_base.html" %}



{% load crispy_forms_tags %}

{% block content %}


    <div class="container">
        <div class="row">
            <div class="col-sm">

            </div>
            <div class="col-sm">
                <form method="post" class="from-group">
                        <h1 style="color:skyblue;font-size:160px;">Login</h1>
                    <br>
                    {% csrf_token %}
                    {{ form|crispy }}
                    <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
                    <button type="submit" class="btn btn-success">Login</button>
                </form>
            </div>
            <div class="col-sm">

            </div>
        </div>
    </div>






{% endblock %}





